.leaflet-control, .leaflet-control-container { z-index: 0 !important; position: relative !important;}
.leaflet-pane { z-index: 0 !important}
.leaflet-container {z-index: 0 !important}
.leaflet-top, .leaflet-bottom 
{
    position: absolute;
    z-index: 1000;
    pointer-events: none;
}